Feedback_Automation/FeedbackAutomation.json
{
  "name": "FeedbackAutomation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e3cbe3ce-0be5-428f-a73e-65afa083dadb",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6f43d089-907d-4653-8a63-f7c79fe7043a",
      "name": "Webhook",
      "webhookId": "e3cbe3ce-0be5-428f-a73e-65afa083dadb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hey, Here is the customer feedback,\n\nFood quality:{{ $json.body.serviceQuality }}\nAmbience: {{ $json.body.ambience }}\nService quality:{{ $json.body.serviceQuality }}\nHygiene:{{ $json.body.hygiene }}\nValue for money:{{ $json.body.valueForMoney }}\nComments:{{ $json.body.additionalComments }}",
        "options": {
          "systemMessage": "=Role:\nYou are an AI feedback processing assistant.\n\nGoal:\nYour job is to take structured customer feedback received from the webhook, store it in Google Sheets, and send the same details via Gmail.\n\nTool Usage:\n\nUse the “Add feedback in sheets” tool to log all customer feedback details into Google Sheets.\n\nImmediately after saving to Sheets, use the “Send a message in Gmail” tool to email the same feedback to the predefined recipient.\n\nInstructions:\n\nInput data will include:\n\nuser_name\n\nuser_email\n\nfood_quality (0–5)\n\nambience (0–5)\n\nservice_quality (0–5)\n\nhygiene (0–5)\n\nvalue_for_money (true or false)\n\ncomments\n\nAlways include all fields exactly as received.\n\nDo not alter or summarise the data.\n\nEnsure both tools receive the full, original feedback details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        192,
        -48
      ],
      "id": "9ba580ff-7670-4268-bd39-60c4d2403b78",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "23caf333-0f08-4928-b611-03f1a30a6051",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dBPNyId58dQkYjBR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "12mkln8RiHaf4H3Kyu6qtGhafPdWh8BAB65uRN1P21eE",
          "mode": "list",
          "cachedResultName": "Feedbackworkflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12mkln8RiHaf4H3Kyu6qtGhafPdWh8BAB65uRN1P21eE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12mkln8RiHaf4H3Kyu6qtGhafPdWh8BAB65uRN1P21eE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email address": "={{ $json.body.emailAddress }}",
            "Name": "={{ $json.body.customerName }}",
            "Phone Number": "={{ $json.body.phoneNumber }}",
            "Age": "={{ $json.body.age }}",
            "Food quality": "={{ $json.body.foodQuality }}",
            "Ambience": "={{ $json.body.ambience }}",
            "Service Quality": "={{ $json.body.serviceQuality }}",
            "Hygiene": "={{ $json.body.hygiene }}",
            "Experienceformoney": "={{ $json.body.valueForMoney }}",
            "Additional Comments": "={{ $json.body.additionalComments }}",
            "sentiment": "={{ $fromAI(\"sentiment\", \" This is the sentiment of the feedback given by the customer and analyzed by the AI Agent\") }}",
            "Action": "={{ $fromAI(\"actionItem\", \"this is acyion item Generated by AI agent. In order to improve the customer feedback. This is the step that need to be taken\") }}"
          },
          "matchingColumns": [
            "Email address"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email address",
              "displayName": "Email address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Food quality",
              "displayName": "Food quality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ambience",
              "displayName": "Ambience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service Quality",
              "displayName": "Service Quality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hygiene",
              "displayName": "Hygiene",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experienceformoney",
              "displayName": "Experienceformoney",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Additional Comments",
              "displayName": "Additional Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        256,
        336
      ],
      "id": "a09ed326-f5ca-48cb-907d-b7e7e082bc1d",
      "name": "Add feedback in sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NPvRmErD4hpF7Lu2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "muryasuraj376@gmail.com",
        "subject": "=Feedback message from {{ $json.body.emailAddress }} :",
        "emailType": "text",
        "message": "=New feedback received:\n\nName: {{ $json.body.customerName }}\nPhone: {{$json[\"body\"][\"phoneNumber\"]}}\nEmail: {{$json[\"body\"][\"emailAddress\"]}}\nAge: {{$json[\"body\"][\"age\"]}}\n\nFood Quality: {{$json[\"body\"][\"foodQuality\"]}}\nAmbience: {{$json[\"body\"][\"ambience\"]}}\nService:{{ $json.body.serviceQuality }} \nHygiene: {{$json[\"body\"][\"hygiene\"]}}\nValue for Money: {{$json[\"body\"][\"valueForMoney\"]}}\n\nAdditional Comments: {{$json[\"body\"][\"additionalComments\"]}}\n\nSubmitted At: {{$json[\"body\"][\"submittedAt\"]}}\nSource: {{$json[\"body\"][\"source\"]}}\nRegards\nTeam Mutka&Mug",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        464,
        256
      ],
      "id": "a1dfde21-62db-47f8-9410-c63ec20c0427",
      "name": "Send a message in Gmail",
      "webhookId": "0829e6e8-f682-4bf0-968f-dd6906f94d21",
      "credentials": {
        "gmailOAuth2": {
          "id": "v9EZ9Ic8qrnkaeez",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add feedback in sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89bbbc10-0d01-4188-8c9a-5845114ae8ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3d2b4824ba980174b7bc12ea6f553c32a6aa41efe766879e780cff7b2fa284a"
  },
  "id": "n59B1Ofvof7b6lKK",
  "tags": []
}