Telegram_chat_bot/TelegramBot.json
{
  "name": "TelegramBot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c41a59a1-c34f-4db6-a739-a1f515fcbdb6",
      "name": "Telegram Trigger",
      "webhookId": "455e403e-a930-4d5d-884e-67c9ac94fda4",
      "credentials": {
        "telegramApi": {
          "id": "2FpsrwBFBCzuTmRl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is query:{{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant. Respond to the queries in simple tone and give examples whenever necessary. keep the word limit at 150 words."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "82f91a1d-f9a7-48f8-ae5e-a723d36c2442",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "bc8c85ae-e4b1-4571-889b-633d874dc1d3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vMHsJE6JY3Q5f5pv",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "af3f0bb2-c826-4ff5-8d0c-05f6791334dc",
      "name": "Send a text message",
      "webhookId": "727082d1-3c8e-42d4-94d2-edd9318ffe9b",
      "credentials": {
        "telegramApi": {
          "id": "2FpsrwBFBCzuTmRl",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "749f963f-e38d-460c-89b7-1b7a5480b2fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3d2b4824ba980174b7bc12ea6f553c32a6aa41efe766879e780cff7b2fa284a"
  },
  "id": "aMJgfHdA40Y0zG4g",
  "tags": []
}